.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

table {
  margin-bottom: 25px;
}

input {
  margin-left: 10px;
}

select {
  margin: 0 10px;
}
